<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="33554432" />
      </requestFiltering>
    </security>
    <httpErrors existingResponse="PassThrough" />
    <rewrite>
      <rules>
        <!-- IIS application alias: cm-reporting. Next is built with basePath=/cm-reporting. -->
        <!-- Proxy the whole application: Next pages, API routes, images and /_next assets. -->
        <rule name="CM Reporting Next application" stopProcessing="true">
          <match url="^(.*)$" />
          <action type="Rewrite" url="http://127.0.0.1:3013/cm-reporting/{R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
